
.character-sheet {
    padding-top: 0px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &.profile-top {
        padding-top: 20px;
        background: rgba(0,0,0, 0.8);
    }

    &.profile-low, &.merc, &.iron-golem {
        background: rgba(0,0,0, 0.7);
    }
}


/* Tabs */

.tabs-menu {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: auto;
}

.mdl-tabs__tab-bar {
    border-bottom: none;
}

.mdl-tabs__tab {
    background: rgba(0,0,0, 0.5);
    margin-left: 5px;
}

a.mdl-tabs__tab {
    color: #a99877;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
    background: rgba(0,0,0, 0.8);
    color: #FFEAD4;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active::after {
    background: none;
}

.menu-grid {
    position: relative;
    margin-top: 0px;
    padding-bottom: 15px;
}

.menu {
    height: 50px;
    padding: 0px;
    list-style-type: none;

    li {
      float: left;
      margin-right: 15px;
      text-align: center;
      border-bottom: 2px solid #312a1e;
      padding: 5px 15px 5px 15px;
      &:hover {
        border-bottom: 2px solid #f3e6d0;
      }
    }

    i {
      color: #f3e6d0;
    }

    a {
      height: 50px;
      width: 50px;
      color: #a99877;
      text-decoration: none;
    }

    span {
      display: block;
    }
}

.broadcast {
    width: 900px;
    margin: 100px auto;
    text-align: center;
}

.broadcast-text {
    font-size: 32px;
    font-weight: 200;
}

.mdl-spinner {
    width: 60px;
    height: 60px;
}

li.fcr::before {
    content: "\E923";
}

li.fhr::before {
    content: "\E422";
}

li.ias::before {
    content: "\E863";
}

li.frw::before {
    content: "\E566";
}

li.mf::before {
    content: "\E420";
}

li.cb::before {
    content: "\E90E";
}

li.ds::before {
    content: "\E55C";
}

li.dr::before {
    content: "\E32A";
}

li.aura::before {
    content: "\E906";
}

@media (max-width: 767px) {
    .broadcast {
        width: 100%;
    }

    .equipped-tab, .inventory-tab {
        margin-top: 50px;
    }

    .menu-grid {
        height: 160px;
    }

    .menu {
        li {
            padding: 0px 0px 15px 0px;
            margin: 0px;
            width: 33%;
        }
    }

    .mdl-tooltip {
        position: absolute;
        top: 0px !important;
        left: 0px !important;
        right: 0px !important;
        bottom: 0px !important;
        margin-top: 0px !important;
        max-width: 100%;
        width: 100%;
    }
}

@media (min-width: 900px) {
    .character-sheet, .menu-grid {
        width: 900px;
        margin: 0px auto 0px auto;
    }
}
