.broadcast {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
}

.broadcast-text {
    font-size: 32px;
    font-weight: 200;
}

.mdl-spinner {
    width: 60px;
    height: 60px;
}

@media (min-width: 900px) {
    .character-sheet {
        width: 900px;
        margin: 50px auto;
    }
}
