.attributes ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid #000;
    padding: 7px 0 8px;
}

.attributes li {
    display: block;
    height: 26px;
}

.attributes span {
    display: block;
    height: 26px;
    line-height: 26px;
}

.attribute-label {
    float: left;
    width: 50%;
}
.attribute-value {
    float: right;
    text-align: right;
    width: 50%;
}

/* Globes */
.globe {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    text-align: center;
    vertical-align: middle;
}

.globe span {
    position: absolute;
    top: 25px;
    left: 0px;
    right: 0px;
    text-align: center;

}

.globe.health {
    background: #5c0000;
}

.globe.mana {
    background: #000057;
}
