html, body {height: 100%;}
body {
    background: #1c1c24;
    color: #d9d9d9;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.mdl-tooltip {
    background: rgba(0,0,0, 0.9);
    width: 300px;
    max-width: 300px;
}

h1 {
    font-size: 23px;
    color: #FFEAD4;
}

h1.char-name {
    margin: 0px;
    text-align: center;
}

h2 {
    font-size: 19px;
    line-height: 19px;
    color: #a99877;
}

h2.char-class {
    margin: 0px;
    text-align: center;
}

h3 {
    font-size: 16px;
}
