.merc {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.merc-inner {
    padding: 0px 15px 0px 15px;
}

.merc-bonuses {
    width: 45%;
    min-height: 250px;
    float: left;
}

.merc-items {
    width: 45%;
    min-height: 250px;
    float: right;
    position: relative;
}

.merc-items .char-name {
    margin-top: 24px;
    margin-bottom: 24px;
}

.merc-bonuses ul {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    list-style-type: none;
}

.merc-bonuses li {
    padding-left: 20px;
    position: relative;
    color: #a99fff;
}

.merc-bonuses li::before {
    position: absolute;
    left: 0px;
    font-family: "Material Icons"
}

.merc-bonuses .bonus-value {
    color: #d0ccff;
}

@media (max-width: 900px) {
    .merc-bonuses {
        width: 100%;
    }
    .merc-items {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .merc-inner {
        padding: 0px;
    }

    .merc-bonuses {
        width: auto;
        padding: 0px 20px 0px 20px;
    }
}
