.iron-golem {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.golem-inner {
    padding: 0px 15px 0px 15px;
}

.golem-bonuses {
    width: 45%;
    padding-left: 25px;
    min-height: 250px;
    float: left;
}
.golem-items {
    width: 45%;
    min-height: 250px;
    float: right;
    position: relative;
}

.golem-items .char-name {
    margin-top: 24px;
    margin-bottom: 24px;
}

.golem-bonuses ul {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    list-style-type: none;
}

.golem-bonuses li {
    padding-left: 20px;
    position: relative;
    color: #a99fff;
}

.golem-bonuses li::before {
    position: absolute;
    left: 0px;
    font-family: "Material Icons"
}

.golem-bonuses .bonus-value {
    color: #d0ccff;
}

@media (max-width: 900px) {
    .golem-bonuses {
        width: 100%;
    }
    .golem-items {
        width: 100%;
    }
}
