.item {
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: relative;
}

.item .item-image {
    max-width: 59px;
    max-height: 116px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

.item .item-image img.ethereal-1 {
    opacity: 0.6;
}

.item .item-image img {
    position: relative;
}

.item .helper {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

/* Socketed items */
.item .socketed-items {
    display: none;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.item:hover .socketed-items {
    display: block;
}

.item .socketed-item {
    float: left;
}

.item .socketed-items.sockets-1, .item .socketed-items.sockets-2, .item .socketed-items.sockets-3 {
    max-width: 28px;
}

.item .socketed-items.sockets-4 {
    max-width: 56px;
    top: 12.5%;
}

.item .socketed-items.sockets-5 {
    max-width: 56px;
}

.item .socketed-items.sockets-6 {
    max-width: 56px;
}

.item .socketed-items.sockets-1 {
    top: 25%;
}

/* Special sockets rules */

/* If the item is a helm and has 3 sockets, display the 1rd rune on its on row centered. */
.item.location-1 .socketed-items.sockets-3 .socketed-position-2 {
    margin: 0px 14px 0px 14px;
}

/* If the item is a helm and has 3 sockets, make the width of the sockets 56px to support 2 runes. */
.item.location-1 .socketed-items.sockets-3 {
    max-width: 56px;
}

/* If the item is 5 socketed, display the 3rd rune on its on row centered. */
.item .socketed-items.sockets-5 .socketed-position-2{
    margin: 0px 14px 0px 14px;
}

/* Quality colors */
.item-tooltip h3.type-1 {
    color: #c2c2c2;
}

.item-tooltip h3.type-2 {
    color: #c2c2c2;
}

.item-tooltip h3.type-3 {
    color: #c2c2c2;
}

.item-tooltip h3.type-4 {
    color: #5050ab;
}

.item-tooltip h3.type-5 {
    color: #19fa00;
}

.item-tooltip h3.type-6 {
    color: #d6b665;
}

.item-tooltip h3.type-7, .item-tooltip h3.type-runeword {
    color: #948065;
}

.item-tooltip h3.type-8 {
    color: #cf8321;
}

/* Tooltip */
.item-tooltip h1, .item-tooltip h2, .item-tooltip h3, .item-tooltip h4, .item-tooltip h5 {
    font-family: "Roboto", sans-serif;
    text-transform: none;
}

.item-tooltip h3 {
    font-size: 15px;
    margin: 0px;
    line-height: 18px;
}

.item-tooltip p {
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    line-height: 16px;
    color: #c2c2c2;

    .increased-true {
        color: #5050ab;
    }
}
