.statistics {
    padding: 0px 15px 0px 15px;
    position: relative;

    .underlined {
        margin-bottom: 0px;
    }

    .statistics-tab{
        margin-bottom: 15px;
    }

    .total-kills {
        text-align: center;
        h3 {
            margin-bottom: 10px;
        }
    }
    
    .statistics-box {
        position: relative;
        .chart-picker {
            text-align: right;
            position: absolute;
            top: 5px;
            right: 0px;

            .is-checked {
                .mdl-icon-toggle__label {
                    color: #a99fff;
                }
            }
        }
    }
}
