.stats-msg {
    width: 900px;
    margin: 30px 0px 10px 0px;
    text-align: center;

    .mdl-spinner {
        width: 25px;
        height: 25px;
    }
}

.statistics {
    padding: 0px 15px 0px 15px;
    position: relative;

    .underlined {
        margin-bottom: 0px;
    }
    
    p {
        margin-top: 25px;
        font-size: 10px;
        color: #616161;
        text-align: center;
    }

    .stats-difficulty-tab{
        margin: 15px 0px 15px 0px;
        a {
            font-size: 12px;
        }
    }

    .stats-type-tab {
        position: absolute;
        top: 19px;
        right: 0px;
        width: auto;

        .mdl-tabs__tab, .mdl-tabs__tab.is-active {
            background: none !important;
        }
        a {
            font-size: 12px;
        }
    }

    .total-kills {
        height: 60px;
        padding-top: 8px;
        text-align: center;

        

        ul, li {
            display: inline-block;
            margin: 0px;

            li {
                margin-right: 20px;
                display: inline-block;
                min-width: 50px;
                text-align: center;

                h3 {
                    display: inline-block;
                    margin: 0px;
                    padding: 0px;
                    line-height: 25px;
                    background-repeat: no-repeat;
                    padding-left: 30px;
                    cursor: pointer;

                    &.total-list {
                        background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 256 256"%3E%3Cpath fill="silver" d="M116 132a24 24 0 1 1-24-24a24 24 0 0 1 24 24Zm48-24a24 24 0 1 0 24 24a24 24 0 0 0-24-24Zm72 8c0 29.85-13.05 57.78-36 77.52V216a20 20 0 0 1-20 20H76a20 20 0 0 1-20-20v-22.48C33 173.78 20 145.85 20 116C20 58.65 68.45 12 128 12s108 46.65 108 104Zm-24 0c0-44.11-37.68-80-84-80s-84 35.89-84 80c0 24.31 11.41 47 31.31 62.3a12 12 0 0 1 4.69 9.52V212h16v-20a12 12 0 0 1 24 0v20h16v-20a12 12 0 0 1 24 0v20h16v-24.18a12 12 0 0 1 4.69-9.51C200.59 163 212 140.31 212 116Z"%2F%3E%3C%2Fsvg%3E');
                    }
                    &.unique-list {
                        background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 256 256"%3E%3Cpath fill="%23957d65" d="M116 132a24 24 0 1 1-24-24a24 24 0 0 1 24 24Zm48-24a24 24 0 1 0 24 24a24 24 0 0 0-24-24Zm72 8c0 29.85-13.05 57.78-36 77.52V216a20 20 0 0 1-20 20H76a20 20 0 0 1-20-20v-22.48C33 173.78 20 145.85 20 116C20 58.65 68.45 12 128 12s108 46.65 108 104Zm-24 0c0-44.11-37.68-80-84-80s-84 35.89-84 80c0 24.31 11.41 47 31.31 62.3a12 12 0 0 1 4.69 9.52V212h16v-20a12 12 0 0 1 24 0v20h16v-20a12 12 0 0 1 24 0v20h16v-24.18a12 12 0 0 1 4.69-9.51C200.59 163 212 140.31 212 116Z"%2F%3E%3C%2Fsvg%3E');
                    }
    
                    &.champ-list {
                        background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="24" height="24" viewBox="0 0 256 256"%3E%3Cpath fill="%234e4da5" d="M116 132a24 24 0 1 1-24-24a24 24 0 0 1 24 24Zm48-24a24 24 0 1 0 24 24a24 24 0 0 0-24-24Zm72 8c0 29.85-13.05 57.78-36 77.52V216a20 20 0 0 1-20 20H76a20 20 0 0 1-20-20v-22.48C33 173.78 20 145.85 20 116C20 58.65 68.45 12 128 12s108 46.65 108 104Zm-24 0c0-44.11-37.68-80-84-80s-84 35.89-84 80c0 24.31 11.41 47 31.31 62.3a12 12 0 0 1 4.69 9.52V212h16v-20a12 12 0 0 1 24 0v20h16v-20a12 12 0 0 1 24 0v20h16v-24.18a12 12 0 0 1 4.69-9.51C200.59 163 212 140.31 212 116Z"%2F%3E%3C%2Fsvg%3E');
                    }
                }
            }
        }

        .mdl-tooltip {
            background: black;
            width: auto;

            h3 {
                font-size: 12px;
                padding: 0px 5px 0px 5px;
                margin: 0px;
                font-family: "Roboto", sans-serif;

            }
        }
    }
    
    .statistics-box {
        position: relative;
        .chart-picker {
            text-align: right;
            position: absolute;
            top: 5px;
            right: 0px;

            .is-checked {
                .mdl-icon-toggle__label {
                    color: #a99fff;
                }
            }
        }
    }

    .mdl-tabs__tab {
        background: none !important;
    }

    @media (max-width: 767px) {
        .statistics-head {
            visibility: hidden;
        }

        .stats-type-tab { 
            left: 0; 
            right: 0; 
            margin-left: auto; 
            margin-right: auto; 
        }

        .total-kills {
            text-align: left;
            h3 {
                font-size: 13px;
            }

            ul {
                padding: 0px;
                li {
                    margin-right: 5px;
                }
            }

            
        }

    }
}
